@import "tailwindcss";

:root {
  --background: #010101;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-manrope);
  --font-array: var(--font-array);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-manrope), system-ui, -apple-system, sans-serif;
  @apply bg-linear-to-tl from-gray-800 via-gray-950 to-black;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 174, 0, 0.122);
  }
  100% {
    box-shadow: 0 0 0 6px rgba(0, 174, 0, 0.252);
  }
}

@layer components {
  .header-nav-link {
    @apply text-sm font-bold text-zinc-300 transition-colors duration-300 hover:text-green-400;
  }

  .header-nav-link-mobile {
    @apply text-3xl text-green-300 font-extrabold transition-all duration-300;
  }

  .circle-pulse {
    @apply w-2.5 h-2.5 rounded-full bg-green-400 flex items-center justify-center;
  }

  .circle-pulse-animation {
    animation: pulse-animation 1.3s infinite cubic-bezier(0.4, 0, 0.2, 1) alternate;
  }

  .hero-links {
    @apply cursor-pointer transition-colors duration-300 hover:text-green-400;
  }
}
